accelerate
appdirs
loralib
# bitsandbytes is pinned because newer versions cause OOM issues
# see https://github.com/tloen/alpaca-lora/issues/344
bitsandbytes==0.37.2
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
transformers>=4.28.0
sentencepiece
gradio
